# -----------------------------
# Data folders
# -----------------------------
data/
*/data/

# -----------------------------
# Generated results (GAN / cGAN)
# -----------------------------
results_cgan/
*/results_cgan/
/resnet_features

# -----------------------------
# Model weights
# -----------------------------
*.h5
*.ckpt
*.weights.h5

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
.vscode

# -----------------------------
# OS files
# -----------------------------
.DS_Store